body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #fff;
  padding: 8px 32px;
}

header > div {
  display: flex;
  align-items: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
}

input {
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  padding: 0;
}

.input-wrapper,
.input-wrapper > input {
  width: 100%;
}

.input-wrapper > input {
  padding: 12px 0 12px;
}

input::placeholder {
  padding-left: 12px;
}
